# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/automated_newsletter.iml
/vcs.xml
/other.xml
/.idea/modules.xml
/.idea/misc.xml
/.gitignore
/.idea/inspectionProfiles/profiles_settings.xml
/__pycache/*